html {
  font-size: 22px;
}
/* MAIN TEXT */
.education_position,
.work_position,
.project_item {
  font-size: 1.1rem;
}

/* SMALL TEXT */
.work,
.period,
.tech_skills_text,
.soft_skills_text {
  font-size: 0.95rem;
}

/* TITLES */
.title {
  font-size: 1.4rem;
}

/* NAME */
.about_name {
  font-size: 2.6rem;
}

/* DESCRIPTION */
.about_description {
  font-size: 1.1rem;
  line-height: 1.7;
}
.sidebard {
  width: 380px;
  background: #1f2937;
  color: white;
  padding: 40px 30px;
}

.sidebard_title {
  font-size: 1.2rem;
}

.contact_link {
  font-size: 1rem;
}

.tech_skills_text,
.soft_skills_text {
  font-size: 0.95rem;
}